footer{
    .pie{
        background-color:  rgb(173, 129, 71);
        text-align: center;
        text-decoration-color: rgb(235, 238, 240);
        color: aliceblue;
    }
}
.colorf {
    color: black;
}
.datos-pie {
    display: flex;
align-items: center;
list-style-type: none;
text-align: center;
text-decoration: none;
text-align-last: center;
list-style: none;
padding: 16px;
    ul{ 
        text-decoration: none;
        li{
            list-style: none;
         }
    }

}
.contactos{
align-items: center;
  
}