footer{
    .pie{
        background: radial-gradient(rgb(146, 107, 63), rgb(82, 34, 2));
        text-align: center;
        text-decoration-color: rgb(235, 238, 240);
        color: aliceblue;
    }
}
.colorf {
    color: black;
}
.datos-pie {
    display: flex;
align-items: center;
list-style-type: none;
text-align: center;
text-decoration: none;
text-align-last: center;
list-style: none;
padding: 16px;
    ul{ 
        text-decoration: none;
        li{
            list-style: none;
            }
    }

}
.contactos{
align-items: center;
}
.img-pie{
border-radius: 70%;
}
.tarjetas{
    display: flex;
    background-color: rgb(146, 107, 63);
    justify-content: center;
    padding: 10px;
    img{
        margin: 10px;
        border-radius: none;
    }
}