header{
        nav {
            background-color: rgb(173, 129, 71);
            ul{
                li{
                    padding: 3%;
                    a{
                    font-style: helvetica;
                    font-size: medium;
                    color: rgb(239, 247, 246);
                    text-decoration: none;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 40px;
                    }
                }
            }
        }
    }
    .logo{
        color: rgba(173, 129, 71, 0.795);
    }